.App {
  min-height: 100vh;

}



.header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;;
  font-size: calc(10px + 2vmin);
  color: white;
}
#Body{
  background-color: #61dafb;
  height: 60vh;
  align-items: center;
  padding-top: 20vh;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Footer{
  padding-top: 25px;
  background-color: lightgray;
  height: 20vh;
  text-align: center;
}


#link{
  padding-right: 15px;
  text-align: center;
  background-color: transparent;
}

a{
  color: #000;
}

a:hover{
  color: #000;
}

#Media{
  text-align: end;
}